@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;

}
:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}
.conteiner {
	width: 336px;

	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 10px;
}
.header {
	width: 100%;
	height: 28px;
	background: #ffdc40;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 13px;
}
.name {
	text-align: center;
	font-size: 26px;
	font-weight: 900;
	margin-bottom: 16px;
}
.conteiner-sorting {
	display: flex;
	justify-content: end;

	/* cursor: pointer; */
}
.sorting {
	width: 25px;
	height: 15px;
	background: url(/images/sort_1.svg);

	margin: 0px 30px 11px 0px;
	cursor: pointer;
}

.sorting:hover{
	background: url(/images/sotr_2.svg);
}

.sorting__down{
	width: 25px;
	height: 15px;
	background: url(/images/sort_4.svg);
	margin: 0px 30px 11px 0px;
	display: none;
	cursor: pointer;
}

.sorting__down:hover{
	background: url(/images/sort_3.svg);
}




.conteiner-input-to-do {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 22px 18px 24px;
	max-width: 286px;
	height: 40px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 10px;
}
.input-to-do {
	border: none;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding-left: 10px;
	border-radius: 10px;
}


.conteiner-button {
	display: flex;
	justify-content: center;
	height: 42px;
padding-bottom: 10px;
padding-top: 10px;
}
.text-button:hover {
	cursor: pointer;
	background: #9953f1;
	transition: 0.5s;
}

.button {
	border: none;

	background-color: white;
	border-radius: 71px;
	width: 150px;
}
.button-add {
	margin: -1px 0px 0px -6px;
	border-radius: 71px;
}
.button-add:hover {
	position: relative;
	top: 3px;
	transition: 0.5s;
	box-shadow: 2px 2px 2px 2px #c4c4c4;
	cursor: pointer;
	background: #9953f1;
	



}

.plus-button {
	position: absolute;
	min-width: 42px;
	min-height: 42px;
	background: #9953f1;
	border-radius: 71px;
	padding: 13px;
	box-sizing: border-box;
	color: #ffffff;
}

.text-button {
	width: 150px;
	height: 42px;
	background: #833ae0;
	border-radius: 71px;
	padding: 13px 0px 0px 15px;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
}

.task-to-do {
	padding: 10px;
	display: none;
	justify-content: space-between;
	margin: 0 auto;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 10px;
	max-width: 286px;
	max-height: 200px;
	overflow: auto;

	
}

.deleteTodo{
	border: 1px solid #C4C4C4;
	border-radius: 50%;
	text-align: center;
	margin:  0px 10px 0px 0px;
	box-sizing: border-box;
	background: url(/images/Group\ 52.svg) no-repeat center;
width: 20px;
height: 20px;

}

.deleteTodo:hover{
	background-color: #833ae0;
	transition: 0.5s;
}
.toDoElement{
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	height: 20px;
	margin-bottom: 20px;
}

.toDoElement:last-child{
	margin-bottom: 0px;
}